@inherits LayoutComponentBase
@using RentAdvertisementSystem.Models;
@using RentAdvertisementSystem.Services;
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject LocalStorage LocalStorage

<PageTitle>RentAdvertisementSystem</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            @if (isLoggedIn == false)
            {
                <NavLink href="/signup">   
                <button type="button" class="btn btn-primary">
                Sign Up
                </button>
                </NavLink>
                <NavLink href="/login">   
                    <button type="button" class="btn btn-primary">
                    Log In
                    </button>
                </NavLink>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    protected bool isLoggedIn = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        isLoggedIn = false;
        var email = await LocalStorage.GetStringAsync("email");
        Console.WriteLine(email);
        if (!string.IsNullOrEmpty(email))
        {
            isLoggedIn = true;
        }
        StateHasChanged();
    }
}